# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment files
.env
.env.local

# Build output
dist/
build/
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Coverage reports
coverage/
